{% extends '_base.html' %}


{% block content %}

<div class="container-fluid">

    {% for photo in COPY.photos %}
        <div class="col-sm-4 col-md-3 frame">
          <img src="https://s3.amazonaws.com/wbez-dailygraphics/election-vox/{{photo.url}}" data-audio="{{phot.audio}}" class="img-responsive" alt="Responsive image">
          <div class="location">{{photo.location}}</div>
          <div class="title">{{photo.title}}</div>
          <div class="main-caption visible-xs">{{photo.caption}}</div>
          <div class="audio"><i class="fa fa-play"></i><i class="fa fa-pause"></i></div>
        </div>
        {% if loop.index is divisibleby 4 %}
          <div class="clearfix visible-lg visible-md"></div>
        {% endif %}

        {% if loop.index is divisibleby 3 %}
          <div class="clearfix visible-sm"></div>
        {% endif %}
    {% endfor %}

</div>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-caption">
            <div class="caption-text">Caption</div>
        </div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>

<audio id="player" preload="auto"> 
  <source src="assets/Hustle.mp3" />
  <source src="assets/Niles.mp3" />
  <source src="assets/Whiskey.mp3" />
</audio>

{% endblock content %}

{% block extra_foot %}

<script>
$( document ).ready(function() {

  var state = false;

  var setClick = function(){
    if ($(window).width() > 768) {
      $('.frame').click(function(){
          var image = $(this).children().attr('src');
          var caption = $(this).find('.main-caption').text();
          $('.modal-content').css('background-image', 'url(' + image + ')');
          $('.caption-text').text(caption);
          $('#photoModal').modal()
      })
    } else {
      $('.frame').unbind();
    }
  }
  setClick();

  // //pause
  // $('.fa-pause').click( function() {
  //     $('#player').get(0).pause();
  //     $(this).hide();
  //     $('.fa-play').show();
  // });

  // //play
  // $('.fa-play').click( function() {
  //     debugger;
  //     $('#player').get(0).play();
  //     $(this).hide();
  //     $('.fa-pause').show();
  // });

  $('.audio').click(function(evt){
    evt.stopPropagation();
    evt.preventDefault();
    $(this).children('.fa-play').toggle();
    $(this).children('.fa-pause').toggle();
    playback();
  });

  function playback(){
    console.log(state);
    if (state == false) {
        $('#player').get(0).play();
        state = true;
      }
    else {
        $('#player').get(0).pause();
        state = false;
      }
  }

  function pauseback(){
    if ($(".fa-pause").is(":visible") == true) {
        $('#player').get(0).pause();
      }
      else {
        $('#player').get(0).play();
      }
  }

  $( window ).resize(function() {
    setClick();
  });
});
</script>

{% endblock extra_foot %}